    <footer>
        CST336 Final Project. <br>2020&copy; Cruz <br />
        <strong>Disclaimer:</strong> The information in this webpage is fictitious.<br />
        It is used for academic purposes only.
    </footer>
    </body>
</html>