  <div class="navcontainer">
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/hunters">Hunters</a>
      <a href="/contact">Contact</a>
      <a href="/account">Account</a>
    </div>
  </div>