<!-- header.ejs --->
<%- include('partials/header.ejs') %>
        <div class="bg-image">
            <%- include('partials/nav.ejs') %>
            <div class="aboutHead">
                <h1 class="display-2">Purpose</h1>
                <hr>
                    <div class="aboutContainer">
                        <p style="font-size:25px">
                        A website dedicated to connecting the client
                        with our elite network of bounty hunters. Register
                        and gain access to our active roster of professional
                        individuals. Immensely skilled and highly capable,
                        all you need to decide is what the mission is. Take
                        this secret resource to your grave, you do not want
                        to break this, for...
                        </p>
                        <h1 class="display-3" style="color:red">THIS IS THE WAY</h1>
                    </div>
                    
                    
            </div>
        </div>
<!-- Footer.ejs -->
<%- include('partials/footer.ejs') %>