<!-- header.ejs --->
<%- include('partials/header.ejs') %>
        <!--background image-->
        <div class="bg-image">
            <%- include('partials/nav.ejs') %>
            <div class="accountContainer">
                <form action="/changePassword" method="POST">
                    <h2>Change Password</h2>
                    <label for="currentPassword">Current Password</label>
                    <input type="text" id="currentPassword" name="currentPassword" placeholder="Enter Current Password">
                    
                    <label for="newPassword">New Password</label>
                    <input type="text" id="newPassword" name="newPassword" placeholder="Enter New Password">
                    
                    <label for="cNewPassword">Confirm New Password</label>
                    <input type="text" id="cNewPassword" name="cNewPassword" placeholder="Confirm New Password">
                    
                    <button class="btn btn-primary">Confirm Password Change</button>
                </form><hr>
                <form action="removeAccount" method="POST">
                    <h2>Remove Account</h2>
                    <label for="removeAccount">Current Password</label>
                    <input type="password" id="removalPassword" name="removalPassword" placeholder="Enter Current Password">
                    <button class="btn btn-danger">Confirm Account Removal</button>
                </form>
            </div>

        </div>
<!-- Footer.ejs -->
<%- include('partials/footer.ejs') %>