<!-- header.ejs --->
<%- include('partials/header.ejs') %>
    <body>
        <div class="bg-image">
            <%- include('partials/nav.ejs') %>
            <form class="register" action="/register" method="POST">
                
            </form>
        </div>
<!-- Footer.ejs -->
<%- include('partials/footer.ejs') %>