<!-- header.ejs --->
<%- include('partials/header.ejs') %>
    <body>
        <div class="bg-image">
            <%- include('partials/nav.ejs') %>
            <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/img/mando.png" alt="Mandalorian" style="width:100%">
                    <h1 id="huntName" style="color:white">Mando</h1>
                    <p class="price">$$$$</p>
                    <p style="color:white">Specialty</p>
                    <p><button>This is way</button></p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="/img/boba.jpg" alt="Boba Fett" style="width:100%">
                    <h1 id="huntName" style="color:white">Boba Fett</h1>
                    <p class="price">$$$$</p>
                    <p style="color:white">Specialty</p>
                    <p><button>This is way</button></p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="/img/bossk.png" alt="Bossk" style="width:100%">
                    <h1 id="huntName" style="color:white">Bossk</h1>
                    <p class="price">$$$$</p>
                    <p style="color:white">Specialty</p>
                    <p><button>This is way</button></p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="/img/bane.jpg" alt="Cad Bane" style="width:100%">
                    <h1 id="huntName" style="color:white">Cad Bane</h1>
                    <p class="price">$$$$</p>
                    <p style="color:white">Specialty</p>
                    <p><button>This is way</button></p>
                </div>
            </div>
        </div>
    </div>
<!-- Footer.ejs -->
<%- include('partials/footer.ejs') %>